.Container {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-image: url('./image/theme.jpg');
  background-size: 130%;
}

.link {
  color: white;
}

span {
  padding: 10px;
}

h1 {
  text-align: center;
  color: black;
}

.addform {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: top;
}

.editform {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: top;
}

.userform {
  padding: 20px;
  height: 70vh;
  width: 50%;
  border: 1px solid green;
  box-shadow: 5px 10px 5px green;
}

h3 {
  margin: 18px;
  text-align: left;
  text-decoration: underline;
}

.heading2 {
  margin: 28px;
  text-align: left;
}

.contactform {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  margin: 50px;
}

.contactform1 {
  padding: 20px;
  height: 60vh;
  width: 50%;
  border: 1px solid green;
  box-shadow: 5px 10px 5px green;
}

.homeform {
  height: 100vh;
  width: 100%;
  justify-content: center;
  margin: 30px;
}

.homeform1 {
  display: flex;
  width: 50%;
  text-align: left;
}

.curd {
  display: flex;
  padding: 20px;
}

.span1 {
  padding: 10px;
}
.message{
  margin: 100px;
}